    <h1>Welcome to the Spotify App</h1>

<style>
       body {
            background-image: url('https://media.timeout.com/images/105988681/image.jpg');
            background-color: rgba(255, 255, 255, 0.5);
            
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        h1 {
            color: white; 
        }
    </style>


<form 
action="/artist-search" method="GET">
    <input type ="text" name="artist" placeholder="Enter artist name">
    <button type = "submit">Search</button>
</form>